html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Menyembunyikan scroll horizontal */
}

h1,
h2,
p {
    font-family: "Arial Narrow", Arial, sans-serif;
}
h1 {
    font-size: 45px !important;
    font-weight: bold;
}
p {
    font-size: 20px !important;
    text-align: justify;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-edit {
    position: fixed;
    transition: background-color 0.5s;
    width: 100%;
    z-index: 2;
    padding: 2rem 5rem;
}

.navbar-edit.menu-edit {
    position: relative;
}

.navbar-transparan {
    background-color: rgba(77, 93, 83, 0);
}

.navbar-opaque {
    background-color: #4d5d53;
    color: white !important;
}

.navbar-brand img {
    width: 60px;
    box-shadow: black 2px 2px 1px;
    border-radius: 50px;
}

.perkasa-text {
    color: #228b22;
    text-shadow: 1.2px 0.8px #afff01;
}

.navbar-brand {
    font-size: 30px;
    font-family: "Playfair Display", sans-serif !important;
}

.header-template {
    background-image: url("../Img/bgheader.png");
    background-size: cover;
    min-height: 30vh;
    color: rgb(218, 218, 218);
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    /* Pusatkan konten horizontal */
    /* Pusatkan konten vertikal */
}

.header-template h1 {
    position: relative;
    padding-bottom: 2rem;
}

.btn-cust {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #04c004, #397600);
    background-size: 200% 100%;
    background-position: left;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    /* Untuk menghilangkan garis bawah pada tautan */
    transition: background-position 1s ease-in-out;
}
.btn-animate {
    margin: 2rem;
    padding: 15px 30px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 5px 10px 10px black;
}

.btn-cust:hover {
    background-position: right;
}

.bg-ganjil {
    background-color: #f8f8f8 !important;
}

.aboutus img,
.OurProduct img {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 80%;
    max-height: 50rem;
}

.aboutus img:hover,
.OurProduct img:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #4d5d53;
    color: white;
    padding: 20px 0;
    margin-top: auto;
}

.footer img {
    max-width: 180px;
}

.footer .col {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: black solid 1px;
}

.footer .links a {
    position: relative;
    /* Membutuhkan posisi relatif untuk positioning pseudo-element */
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: left !important;
    /* Memastikan garis tidak melampaui batas link */
}

.footer .links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* Ketebalan garis */
    background: white;
    /* Warna garis */
    transform: translateX(-50%) scaleX(0);
    /* Memindahkan garis ke tengah dan menyembunyikannya */
    transform-origin: center;
    /* Memastikan garis diperluas dari tengah */
    transition: transform 0.5s ease;
    /* Durasi transisi dan kecepatan */
}
.footer h1,
.footer p {
    text-align: justify !important;
}

.footer .links a:hover::after {
    transform: translateX(-50%) scaleX(1);
    /* Menampilkan garis saat hover */
}

.footer a::before {
    content: "\003E";
    /* Unicode for non-breaking space (��) */
    color: white;
    /* Warna titik */
    font-size: 24px;
    /* Ukuran titik */
    display: inline-block;
    width: 20px;
    /* Spasi sebelum teks */
    text-align: center;
    margin-right: 10px;
    /* Jarak antara titik dan teks */
    vertical-align: middle;
    /* Menjaga titik pada level yang sama dengan teks */
}

.bordered {
    border: red solid 3px;
}



@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
        font-family: "Playfair Display", sans-serif !important;
    }

    .navbar-edit {
        position: fixed;
        transition: background-color 0.5s;
        width: 100%;
        z-index: 2;
        padding: 2rem 2rem;
    }

    .thanks .main-layout h3 {
        font-size: 64px !important;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 16px;
        font-family: "Playfair Display", sans-serif !important;
    }
    .navbar-brand img {
        width: 30px;
    }

    .navbar-edit {
        position: fixed;
        transition: background-color 0.5s;
        width: 100%;
        z-index: 2;
        padding: 1rem;
    }
    .thanks .main-layout h3 {
        font-size: 36px !important;
    }
    .thanks .main-layout p {
        font-size: 16px !important;
    }

    .footer img {
        max-width: 100px;
    }
    .footer h1 {
        font-size: 24px !important;
    }

    .footer p {
        font-size: 12px !important;
    }
}
