html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}

p {
    text-align: justify !important;
}


h1,
h2,
p {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-edit {
    position: fixed;
    transition: background-color 0.5s;
    width: 100%;
    z-index: 2;
    padding: 2rem 5rem
}

.navbar-edit.menu-edit {
    position: relative;
}

.navbar-transparan {
    background-color: rgba(77, 93, 83, 0.0);
}

.navbar-opaque {
    background-color: #4D5D53;
    color: white !important;
}

.perkasa-text {
    color: #228B22;
    text-shadow: 1.2px 0.8px #afff01;

}

.navbar-brand {
    font-size: 30px;
    font-family: 'Playfair Display', sans-serif !important;
}


/* hero */
.hero {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    position: relative;
    /* Position relative untuk konten absolut di dalamnya */
    display: flex;
    /* Menggunakan Flexbox */
    align-items: center;
    /* Vertikal center */
    justify-content: center;
    /* Horizontal center */
    text-align: center;
    /* Center align text */
    overflow: hidden;
}

.video-background, .overlay {
box-sizing: border-box;
}


.hero p {
    text-align: center !important;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the entire area */
    z-index: -2;
    /* Behind other content */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Black with 50% transparency */
    z-index: -1;
    /* Behind the content but above the video */
}

.content h1 {
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-color: #397600
}

.content p {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(233, 233, 233, 0.7)
}

.content .text {

    padding-top: 25vh;
}
.content .text h1 {
    opacity: 0; /* Mulai dari transparan */
    transform: scale(0);
    
}




/* Content */
.content {
    position: relative;
    z-index: 1;
    color: white;
    -webkit-text-stroke: 0.5px #4D5D53;
    /* padding: 50px; */
    height: 100vh;
}

.custom-icon i {
    position: relative;
    color: white;
    /* Warna panah */
    font-size: 3rem;
    /* Mengubah ukuran ikon, sesuaikan sesuai kebutuhan */
    border-radius: 50%;
    /* Pastikan lingkaran tetap */
    padding: 0.25rem;
    margin-top: 5rem;
    /* Menambah padding agar lebih rapi */
}



.content .icon {
    margin-top: auto;
    margin-bottom: 5vh;

}

.carousel-inner {
    position: relative;
    z-index: 2;
}

.carousel h1,
.carousel p,
.carousel h3 {
    position: relative;
    z-index: 3;
    color: black;
    /* Ensure text color contrasts with background */
}


/* parallax */
.parallax {
    background: url('../Img/bg1.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 20rem;
    align-content: center ;
    justify-content: center;
}

.parallax::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    /* Black overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.card-style {
    background: #f5f5f5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.card-style h5 {
    font-weight: -5;
}

.card-style p {
    font-weight: 100 !important;
    font-family: sans-serif;
}

/* button */
.card-style a,
.btn-cust {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #04c004, #397600);
    background-size: 200% 100%;
    background-position: left;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    /* Untuk menghilangkan garis bawah pada tautan */
    transition: background-position 1s ease-in-out;
}

.card-style a:hover,
.btn-cust:hover {
    background-position: right;
}


/* header */
.header-template {
    background-image: url('../Img/bgheader.png');
    background-size: cover;
    min-height: 30vh;
    color: rgb(218, 218, 218);
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    /* Pusatkan konten horizontal */
    /* Pusatkan konten vertikal */


}

.header-template h1 {
    position: relative;
    padding-bottom: 2rem;
}

.misidanvisi p::before {
    content: '\2022';
    /* Unicode untuk titik bulat (•) */
    color: black;
    /* Warna titik */
    font-size: 24px;
    /* Ukuran titik */
    display: inline-block;
    width: 20px;
    /* Spasi sebelum teks */
    text-align: center;
    margin-right: 10px;
    /* Jarak antara titik dan teks */
    vertical-align: middle;
    /* Menjaga titik pada level yang sama dengan teks */
}



.bg-ganjil {
    background-color: #f8f8f8 !important;
}

.aboutus img {
    border: 2px solid #ddd;
    /* Light grey border */
    border-radius: 10px;
    /* Rounded corners */
    padding: 5px;
    /* Space between the image and the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for scaling effect */
    width: 100%;
    max-height: 100px
}

.aboutus img:hover {
    transform: scale(1.05);
    /* Slight zoom on hover for effect */
}

.product-homes .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-homes .card-text {
    flex-grow: 1;
}

.product-homes .card a {
    margin-top: auto;
}



.content h1 {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-color: #397600
}

.content p {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(233, 233, 233, 0.7)
}

.footer {
    background-color: #4D5D53;
    color: white;
    padding: 20px 0;
    margin-top: auto;

}


.footer img {
    max-width: 180px;

}

.footer .col {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: black solid 1px;
}

.footer .links a {
    position: relative;
    /* Membutuhkan posisi relatif untuk positioning pseudo-element */
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: left;
    /* Memastikan garis tidak melampaui batas link */
}

.footer .links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* Ketebalan garis */
    background: white;
    /* Warna garis */
    transform: translateX(-50%) scaleX(0);
    /* Memindahkan garis ke tengah dan menyembunyikannya */
    transform-origin: center;
    /* Memastikan garis diperluas dari tengah */
    transition: transform 0.5s ease;
    /* Durasi transisi dan kecepatan */
}

.footer .links a:hover::after {
    transform: translateX(-50%) scaleX(1);
    /* Menampilkan garis saat hover */
}

.aboutus p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6)
}

.footer a::before {
    content: '\003E';
    /* Unicode for non-breaking space (��) */
    color: white;
    /* Warna titik */
    font-size: 24px;
    /* Ukuran titik */
    display: inline-block;
    width: 20px;
    /* Spasi sebelum teks */
    text-align: center;
    margin-right: 10px;
    /* Jarak antara titik dan teks */
    vertical-align: middle;
    /* Menjaga titik pada level yang sama dengan teks */
}

.bordered {
    border: red solid 3px;
}

.same-height {
    height: 80vh;
    margin-bottom: 6rem !important;
}

.contact {
    background-image: url('../Img/bgheader.png');
    background-size: cover;
    min-height: 80vh;
}

.contact .main-layout {
    background-image: url(../Img/bgkayu2.jpeg);
    background-size: cover;
    border: 10px solid #8B4513;
    border-radius: 15px;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 3rem;

    box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.5);

}

.wooden-board {
    position: relative;
    background-image: url('../Img/papan.jpg');
    background-size: cover;
    border: 10px solid #8B4513;
    /* Warna border menyerupai bingkai kayu */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    /* Agar elemen terpusat di tengah */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    /* Bayangan untuk efek terangkat */
}

.wooden-board::before {
    content: '';
    position: absolute;
    top: -30px;
    /* Posisi di atas papan */
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 30px;
    background: #D2B48C;
    /* Warna tali gantungan */
    border-radius: 5px 5px 0 0;
    /* Sudut melengkung di atas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.wooden-board::after {
    content: '';
    position: absolute;
    top: -50px;
    /* Posisi gantungan */
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 50px;
    background: #8B4513;
    /* Warna tali gantungan */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/* CSS for Find Us section */
.findus-board {
    /* background: rgba(0, 0, 0,0.3); */
    /* position: relative; */
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    color: #fff;
    /* Text color */

}

.contact h2 {
    color: white;
    font-size: 20px !important;
}

.contact h3 {
    margin-bottom: 15px;
    color: white;
    text-align: center;
    font-size: 48px !important;
}

.contact h1 {
    font-size: 28px !important;
}


.findus-board .map iframe {
    /* Rounded corners for the map */
    border: 2px solid #8B4513 !important;
    /* Border to resemble a wooden frame */
    border-radius: 10px;
    /* Shadow for depth */
}

.thanks h1, p, a{
    text-align: center;
    justify-content: center !important;;
}
.thanks .main-layout h3{
    font-size: 80px !important;
    
}

.gradient-text {
    background: linear-gradient(to bottom, #397600 0%, white 60%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

.thanks .main-layout p{
    font-size: 24px !important;
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 58px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-text-stroke-color: #397600;

    }

    .content p {
        font-size: 22px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(233, 233, 233, 0.7)
    }

    .navbar-brand {
        font-size: 20px;
        font-family: 'Playfair Display', sans-serif !important;
    }

    .navbar-edit {
        position: fixed;
        transition: background-color 0.5s;
        width: 100%;
        z-index: 2;
        padding: 2rem 2rem
    }

    .content .text {

        padding-top: 35vh;
    }

    .thanks .main-layout h3{
        font-size: 64px !important;
        
    }
    
}


@media (max-width: 480px) {
    .content h1 {
        font-size: 32px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-text-stroke-color: #397600
    }

    .content p {
        font-size: 16px !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(233, 233, 233, 0.7)
    }

    .content .text {

        padding-top: 40vh;
    }
    .thanks .main-layout h3{
        font-size: 36px !important;
        
    }
    .thanks .main-layout p{
        font-size: 16px !important;
        
    }
}